certifi==2019.9.11
chardet==3.0.4
Click==7.0
cmake==3.13.3
colorama==0.4.1
dj-database-url==0.5.0
Django==2.2.6
django-heroku==0.3.1
dlib==19.18.0
face-recognition==1.2.3
face-recognition-models==0.3.0
gcloud==0.17.0
googleapis-common-protos==1.6.0
gunicorn==19.9.0
httplib2==0.14.0
idna==2.8
jws==0.1.3
numpy==1.17.2
oauth2client==3.0.0
Pillow==6.2.0
protobuf==3.10.0
psycopg2==2.8.3
pyasn1==0.4.7
pyasn1-modules==0.2.7
pycryptodome==3.4.3
Pyrebase==3.0.27
python-jwt==2.0.1
pytz==2019.3
pyzbar==0.1.8
qrcode==6.1
requests==2.11.1
requests-toolbelt==0.7.0
rsa==4.0
six==1.12.0
sqlparse==0.3.0
urllib3==1.24.3
whitenoise==4.1.4
