{% extends "Base.html" %}

{% block title %}Home{% endblock %}
{% block logout%}
<li><a href="logOut"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
{% endblock %}
{% block body %}
<div class="row content">
 {% csrf_token %}
 <h1>Face Attendance System</h1>
  <h3>Welcome {{i}}</h3>
  {% if Closed %}
    <p>Attendance Closed </p>
  {% elif Recorded %}
    <p>Attendance Recorded </p>
  {% endif %}
    
    <p id="statusReport"></p><br>
    <div class="container">
      <div class="col-sm-4"></div>
      <div class="col-sm-4">
        <button onclick="window.location.href = 'markAttendance';" class="btn btn-primary btn-block" id="markAttendanceBtn" disabled>FaceRecog Attendance</button>
        </div>
        </div><br>
     <div class="container">
      <div class="col-sm-4"></div>
      <div class="col-sm-4">
        <button onclick="window.location.href = 'showAttendance';" class="btn btn-primary btn-block">View Attendance</button>
      </div>
     </div>
</div>
{% load static %}
<script type="text/javascript" src="{% static 'javaScripts/StatusCheck.js' %}"></script>
{% endblock %}
